html{
    font-family : "Times New Roman", Times, serif;
  }
  h1{ color: #90E39A;
    text-align: center;  
 }
 
 
 h2{ color:#06BEE1;
    text-align: left;  
 }
 
 p{color : #03256C;
 }
 
 body{background-color: rgb(221, 240, 147)
     }
 